{% extends 'mailing/base.html' %}

{% block content %}
{% if user.is_authenticated %}
    <div class="row justify-content-center">
        <div class="col-md-4 d-flex align-items-center justify-content-center mb-4">
            <a href="{% url 'mailing:mailing_create' %}" class="btn btn-success btn-lg btn-block">
                Создать новую рассылку
            </a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4 d-flex align-items-center justify-content-center mb-4">
            <a href="{% url 'mailing:mailing_list' %}" class="btn btn-primary btn-lg btn-block">
                Посмотреть мои рассылки
            </a>
        </div>
        <div class="col-md-4 d-flex align-items-center justify-content-center mb-4">
            <a href="{% url 'mailing:client_list' %}" class="btn btn-primary btn-lg btn-block">
                Посмотреть моих клиентов
            </a>
        </div>
    </div>
{% else %}
    <div class="row justify-content-center">
        <div class="col-md-6 d-flex align-items-center justify-content-center mb-4">
            <p>Войдите в профиль, чтобы воспользоваться функционалом.</p>
        </div>
    </div>
{% endif %}
{% endblock %}