{% extends 'mailing/base.html' %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-4 d-flex align-items-center justify-content-center mb-4">
            <a href="{% url 'mailing:mailing_create' %}" class="btn btn-success btn-lg btn-block">
                Создать новую рассылку
            </a>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for one_mailing in object_list %}
            <div class="col">
                <div class="card h-100">
                    <div class="card-header">
                        <div class="row justify-content-center">
                            <h4 class="my-0 font-weight-normal">{{ one_mailing.title }}</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <a href="{% url 'mailing:mailing_detail' one_mailing.pk %}" class="btn btn-lg btn-block btn-outline-primary">
                                Подробнее
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}